<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ele.mapper.SysRoleMapper">
	<!--<resultMap id="userAndRole" type="">-->
		<!---->
	<!--</resultMap>-->

	<sql id="baseSql">
		id,create_time,create_by,update_time,update_by
	</sql>
	

	<select id="getRoleList" resultType="com.ele.entity.SysRole">
		select <include refid="baseSql"/>,
		role_no,role_name,description,avaliable from sys_role;
	</select>

	<!--<select id="getRoleByUser" parameterType="map" resultMap="">-->
		<!--select user.user_name,user.password,user.salt,user.state,user.show_name,-->
		<!--role.role_no,role.role_name,role.description,role.avaliable-->
		<!--FROM sys_user user-->
		<!--left join sys_user_role sur on user.id=sur.user_id-->
		<!--left join sys_role role on sur.role_id=role.id-->
		<!--where 1=1-->
	    <!--<if test="userName != null and userName !=''">-->
			<!--AND user.user_name like concat('%',#{userName},'%')-->
		<!--</if>-->
	<!--</select>-->

	
</mapper>

